* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    background-color: #e9967a;
    font-family: 'Roboto', sans-serif;
}
.speedbtn {
    position: absolute;
    bottom: 20px;
    background-color: #d1876e;
    padding: 10px 20px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#speed-values {
    border: none;
    outline: none;
    width: 50px;
    padding: 5px;
    margin-left: 5px;
    font-size: 18px;
    background-color: #e9967a;
    text-align: center;
}