* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body {
    height: 100vh;
    overflow: hidden;
}
.counter {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    text-align: center;
}
.counter.hide {
    transform: translate(-50%, -50%) scale(0);
    animation: over 0.2s ease-out;
}
.numbers {
    color: #3498db;
    position: relative;
    width: 250px;
    height: 50px;
    font-size: 50px;
    overflow: hidden;
}
span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%) rotate(120deg);
    transform-origin: bottom center;
}
.number.in {
    transform: translate(-50%, -50%) rotate(0deg);
    animation: rotateIn 0.5s ease-in-out;
}
.number.out {
    animation: rotateOut 0.5s ease-in-out;
}
h3 {
    font-size: 20px;
    text-transform: uppercase;
}
.final {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%) scale(0);
    text-align: center;
}
.final.show {
    transform: translate(-50%, -50%) scale(1);
    animation: show 0.2s ease-out;
}
button {
    margin-top: 20px;
    padding: 1px 8px;
    cursor: pointer;
}
@keyframes rotateIn {
    0% {
        transform: translate(-50% , -50%) rotate(120deg);
    }
    30% {
        transform: translate(-50% , -50%) rotate(-20deg);
    }
    60% {
        transform: translate(-50% , -50%) rotate(10deg);
    }
    100% {
        transform: translate(-50% , -50%) rotate(0);
    }
}

@keyframes rotateOut {
    0% {
        transform: translate(-50% , -50%) rotate(0deg);
    }
    30% {
        transform: translate(-50% , -50%) rotate(20deg);
    }
    100% {
        transform: translate(-50% , -50%) rotate(-120deg);
    }
}

@keyframes over {
    0% {
        transform: translate(-50%, -50%) scale(1);
    }
    100% {
        transform: translate(-50%, -50%) scale(0);
    }
}
@keyframes show {
    0% {
      transform: translate(-50% , -50%) scale(0);
    }
    50% {
        transform: translate(-50% , -50%) scale(1.4);
    }
    100% {
        transform: translate(-50% , -50%) scale(1);
    }
}