* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #8e44ad;
}
.social {
    display: flex;
    color: #fff;
}
.social__list {
    margin: 50px;
    text-align: center;
}
.social__icons {
    font-size: 50px;
    margin-bottom: 10px;
}
h1 {
    font-size: 70px;
    letter-spacing: 2px;
}
span {
    font-size: 18px;
    letter-spacing: 1px;
}